.about{
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.about-right{
    flex: 1;
}

.about-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    /* background-color: #333; */
    background-image:  linear-gradient(to right, rgb(247, 204, 210), rgb(241, 138, 152));
    
}

.about-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-title{
    font-weight: 400;
}

.about-sub{
    margin: 20px 0px;
}

.about-desc{
    font-weight: 300;
}
.about-grad-img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.about-grad{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-grad-texts{
    width: 85%;
}

.about-grad-title{
    font-weight: bold;
    color: #555;
    margin-bottom: 3px;
}

.about-grad-desc{
    margin-top: 0%;
}

@media screen and (max-width:480px) {
    .about{
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }

    .about-left {
      width: 100%;
    }

    .about-card {
      height: 30vh;
    }

    .about-card.bg{
      display: none;
    }

    .about-grad{
        width: 100%;
    }

    .about-grad-img{
        width: 15%;
        height: 15%;
    }

    .about-right{
      padding: 20px;
    }

}